<div class="dynamicListContainer">
    <div class="listContainer">
        <h1 class="listTitle">Lista de productos dinámicos:</h1>
        <div class="productContainer">
        </div>
    </div>
</div>
<script src="./socket.io/socket.io.js"></script>
<script  src="./js/socketScript.js"></script>